/DemoJour1/nbproject/private/
/DemoJour1/build/
/DemoJour1/dist/
/LoginPage/nbproject/private/
/LoginPage/build/
/LoginPage/dist/
/TempConvert/nbproject/private/
/TempConvert/build/
/LangConvert/nbproject/private/
/LangConvert/build/