<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TraitmentLanguage</servlet-name>
        <servlet-class>Controleur.TraitmentLanguage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFr</servlet-name>
        <servlet-class>Controleur.ServletFr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEn</servlet-name>
        <servlet-class>Controleur.ServletEn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitmentLanguage2</servlet-name>
        <servlet-class>Controleur.TraitmentLanguage2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TraitmentLanguage</servlet-name>
        <url-pattern>/TraitmentLanguage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFr</servlet-name>
        <url-pattern>/ServletFr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEn</servlet-name>
        <url-pattern>/ServletEn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitmentLanguage2</servlet-name>
        <url-pattern>/TraitmentLanguage2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
