<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlCouleur2</servlet-name>
        <servlet-class>controleur.ControlCouleur2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreeCookie</servlet-name>
        <servlet-class>controleur.CreeCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlCouleur2</servlet-name>
        <url-pattern>/ControlCouleur2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreeCookie</servlet-name>
        <url-pattern>/CreeCookie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
