<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srv_ControlLang</servlet-name>
        <servlet-class>Servlets.srv_ControlLang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_souvgarder</servlet-name>
        <servlet-class>Servlets.srv_souvgarder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_chercher</servlet-name>
        <servlet-class>Servlets.srv_chercher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srv_ControlLang</servlet-name>
        <url-pattern>/srv_ControlLang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_souvgarder</servlet-name>
        <url-pattern>/srv_souvgarder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_chercher</servlet-name>
        <url-pattern>/srv_chercher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
